# http://editorconfig.org

# Uma propriedade especial que deve ser especificada na parte superior do arquivo,
# fora de qualquer seção. Defina como "true" para interromper a busca por arquivos
# .editorconfig no arquivo atual.
root = true

[*]
# Estilo de indentação
# Valores possíveis: tab (tabulação), space (espaço)
indent_style = space

# Tamanho da indentação em caracteres de um único espaço
# Valores possíveis: um número inteiro, tab (tabulação)
indent_size = 2

# Caractere de final de linha
# Valores possíveis: lf (Line Feed), crlf (Carriage Return and Line Feed), cr (Carriage Return)
end_of_line = lf

# Codificação de caracteres do arquivo
# Valores possíveis: latin1, utf-8, utf-16be, utf-16le
charset = utf-8

# Indica se os espaços em branco ao final das linhas devem ser removidos
# Valores possíveis: true (remover), false (não remover)
trim_trailing_whitespace = true

# Desativar para arquivos Markdown, pois espaços em branco ao final das linhas são importantes
[*.md]
trim_trailing_whitespace = false

# Indica se o arquivo deve terminar com uma nova linha
# Valores possíveis: true (sim), false (não)
insert_final_newline = true
