.footer__copyright {
  margin: 64px 0 15px 0;
  font-family: "Inter";
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #ffffff;
  
}

@media (min-width: 768px) {
  .footer__copyright {
    margin: 75px 0 15px 0;
  }
}
