.footer {
  display: flex;
  justify-content: center;
}
.footer__name {
  margin-top: 92px;
  margin-bottom: 24px;
}
@media (max-width: 1024px) {
  .footer__name {
    margin-top: 88px;
  }
}
@media (max-width: 544px) {
  .footer__name {
    margin-top: 64px;
  }
}
