.header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.nav img {
  width: 188px;
}

/* Tablet */
@media (min-width: 768px) {
  .header {
    margin-top: 34px;
  }
  .nav img {
    width: 254px;
  }
}
