.info {
  display: flex;
  flex-direction: column;

  align-items: flex-start;
  max-width: 984px;
  margin: 92px auto 0;
}
.info__title {
  max-width: 830px;
  font-family: Inter;
  font-size: 54px;
  font-weight: 900;
  line-height: 58px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.info__text {
  max-width: 738px;

  margin-top: 40px;

  font-family: Inter;
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.info__text__name {
  max-width: 732px;

  margin-top: 10px;

  gap: 0px;
  opacity: 0px;
  font-family: Inter;
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  text-align: right;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.info__text__paragraph {
  max-width: 722px;
  margin-top: 32px;

  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 26.08px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
@media (max-width: 1024px) {
  .info {
    display: flex;
    flex-direction: column;
    align-items: self-start;
    max-width: 100vw;
    padding-left: 24px;
  }
  .info__title {
    font-family: Inter;
    font-size: 45px;
    font-weight: 900;
    line-height: 49px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .info__text {
    margin-top: 50px;
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 34px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .info__text__name {
    max-width: 720px;
    height: 34px;
    margin-top: 0px;
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 34px;
    text-align: right;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .info__text__paragraph {
    margin-top: 32px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 26.08px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
}
@media (max-width: 544px) {
  .info {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100vw;
    margin-top: 64px;
    padding-left: 24px;
  }
  .info__title {
    font-family: Inter;
    font-size: 32px;
    font-weight: 900;
    line-height: 35px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .info__text {
    margin-top: 40px;
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .info__text__name {
    font-family: Inter;
    font-size: 16px;
    font-size: 24px;
    font-weight: 400;
    line-height: 34px;
    text-align: right;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .info__text__paragraph {
    margin-top: 32px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 26.08px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
}
